<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net452" />
  <package id="DapperExtensions" version="1.4.4" targetFramework="net452" />
  <package id="Humanizer.Core" version="2.1.0" targetFramework="net452" />
  <package id="NLog" version="4.3.4" targetFramework="net452" />
  <package id="ServiceStack" version="4.0.33" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.33" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.33" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.33" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.33" targetFramework="net452" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.0.0" targetFramework="net452" />
</packages>